includes/partners.jade
include _header.jade
<div class="restaur_block_wr">
	<div class="event_page">
		<div class="block_inner">
			<div class="path_block"><a href="">Home</a><span>»</span>Careers</div>
			<div class="title">Партнеры</div>
			<div class="part_block">
				<div class="block_inner">
					<div class="b_inner">
						<a href="#" class="item">
							<img src="files/partt.png" alt="">
						</a>
						<a href="#" class="item">
							<img src="files/partt.png" alt="">
						</a>
						<a href="#" class="item">
							<img src="files/partt.png" alt="">
						</a>
						<a href="#" class="item">
							<img src="files/partt.png" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
include _footer.jade

partners.html
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Тайтл</title>
<link rel="stylesheet" href="css/main.css">
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous" ></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1N8LuZ_fohHgBTQbtdoai_cC9BracRlk"></script>
</head>
<body>
<nav class="menu_burger">
<div class="menuClose"><span></span></div>
<div class="menu_scroll">
<div class="list_lang">
<a href="#" class="active">English</a>
<a href="#" >O'zbekcha</a>			
</div>
<ul>
<li><a href="">Home</a></li>
<li><a href="">Products</a></li>
<li><a href="">Restaurants & boulangerie</a></li>
<li><a href="">Events</a></li>
<li><a href="">Silk expert</a></li>
<li><a href="">Partners</a></li>
<li><a href="">Careers</a></li>
<li><a href="">Партнеры</a></li>
</ul>
</div>
</nav> 
<header class="header">
<div class="block_inner">
<div class="burger">Open menu</div>
<div class="logo">
<a href="#">
<img src="img/logo.png" alt="">
</a>
</div>
<div class="lang_block">
<a href="#" class="active_lang">English</a>
<div class="list_lang">
<a href="#">O'zbekcha</a>
<a href="#">English</a>
</div>
</div>
</div>
</header>
<div class="content_main_Wrapper"><div class="restaur_block_wr">
<div class="event_page">
<div class="block_inner">
<div class="path_block"><a href="">Home</a><span>»</span>Careers</div>
<div class="title">Партнеры</div>
<div class="part_block">
<div class="block_inner">
<div class="b_inner">
<a href="#" class="item">
<img src="files/partt.png" alt="">
</a>
<a href="#" class="item">
<img src="files/partt.png" alt="">
</a>
<a href="#" class="item">
<img src="files/partt.png" alt="">
</a>
<a href="#" class="item">
<img src="files/partt.png" alt="">
</a>
</div>
</div>
</div>
</div>
</div>
</div></div>
<div class="bottom_form_block">
<div class="block_inner">
<div class="left_form">
<div class="title">Get in Touch</div>
<div class="text">Leave you request and our manager will connect with you soon</div>
<form action="">
<div class="field">
<input type="text" placeholder="Full name *" required>
</div>
<div class="field">
<input type="text" placeholder="E-mail *" required>
</div>
<div class="field">
<textarea name="" placeholder="Your request" id="field" cols="30" rows="10"></textarea>
</div>
<div class="col_2">
<div class="field checkbox">
<label>
<input type="checkbox"><span></span>Receive newsletters about our news and events
</label>
</div>
<input type="submite" value="Submit" class="btn">
</div>
</form>
</div>
</div>
</div>	
<footer>
<div class="block_inner">
<div class="left_block">
<div class="title">Contacts</div>
<div class="address">Address: 63 Usman Nasir Street, Tashkent</div>
<div class="phone">Phone number: +99871 253 91 83 / 84</div>
<div class="email">info@abnbm.com</div>
</div>
<div class="right_block">
<div class="title">Social Networks</div>
<div class="soc_block">
<a href="#">
<img src="files/ins_w.svg" alt="">
</a>
<a href="#">
<img src="files/face_w.svg" alt="">
</a>
<a href="#">
<img src="files/in_w.svg" alt="">
</a>
<a href="#">
<img src="files/yt_w.svg" alt="">
</a>
</div>
</div>
<div class="right_block_menu">
<div class="title">Useful Links</div>
<div class="menu_footer">
<ul>
<li><a href="">Home</a></li>
<li><a href="">Products</a></li>
<li><a href="">Restaurants & boulangerie</a></li>
<li><a href="">Events</a></li>
<li><a href="">Silk expert</a></li>
<li><a href="">Partners</a></li>
<li><a href="">Careers</a></li>
</ul>
</div>
</div>
<div class="copy">© All rights reserved / 2022</div>
<div class="copy">developed by <a href="https://webline.one/" targer="_blank">Webline</a></div>
</div>
</footer>				
<script src="js/main.js" async></script>
</body>
</html>
